
  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Poppins:wght@400;700&display=swap');

:root{
    --cor01:#65B4C2;
    --cor02:#08A6C2;
    --cor03:#2F808F;
    --cor04:#056475;
    --cor05:#033942;

}

/* ======= BODY =======*/

body{
    font-family: Poppins, Arial, "sans-serif";
    margin: 0;
    max-width: 300;

}

/* ======= HEADER =======*/

header{
    text-align: right;
    padding: 10px;
    background-color: var(--cor04);
    color: white;
}

header span{
    padding: 10px;
    font-weight: bold;
    color: var(--cor05);
    font-size: 14px;
    margin: 0;
    color: white;
}

/* ======= MAIN =======*/
main{
    margin: 0;
}

main h1, h2{
    font-size: 20px;
    margin: 10px;
}

main p{
    font-size: 14px;
}

/* ======= HOME =======*/
.box-home{
    margin: auto;
    width: 50%;
    height: 50%;
}

#foto-perfil{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 300px;
    min-width: 200px;
    transform: translate(-50%, -50%);
}

.box-home-texto{
    text-align: center;
    margin: auto;
    margin-top: 400px;
}

.box-home-texto h1, h2{
    margin-right: -10%;
    margin-left: -10%;
    color: #021d22;
}

.texto-destaque{
    color: var(--cor02);
}

.botao-div{
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.botao{
    padding: 10px;
    background-color: var(--cor05);
    text-align: center;
    width: 80%;
    font-family: Poppins, "sans-serif";
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 2px 2px 10px#0000004b;
    border: none;
    margin: auto;


    
}

.botao a{
    text-decoration: none;
    color: white;
}

.botao:hover{
    background-color: var(--cor04);
    padding: 15px;
    transition: 0.5s;
}

.botao:active{
    background-color: var(--cor02);
}

.redes-sociais{
    margin: auto;
    text-align: center;
}
.redes-sociais img{
    width: 30px;
    padding: 20px;
    margin:auto;
}

.redes-sociais img:hover{
    width: 25px;
    transition: 0.5s;
}

/* ======= SOBRE =======*/

.titulo{
    text-align: center;
    color: #021d22;
}

.titulo-projeto{
    text-align: center;
    color: white;
}
.box-conteudo{
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    color: white;
    background-color: var(--cor05);
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000050;
    height: 10%;
    margin-bottom: 20px;
}

.box-conteudo img{
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    align-items: center;
    box-shadow: inset 2px 2px 10px #000000ec;
    
}

.projeto img{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border: solid 10px black;
    margin-left: -10px;
    
}
#botao-cv{
    background-color: var(--cor02);
    margin: 20px;
    max-width: 400px;
    text-align: center;
}








/* ======= FOOTER =======*/
footer{
    background-color: var(--cor05);
    color: white;
    padding: 50px;
    margin: auto;
}
footer > p{
    text-align: center;
    font-size: 400;

}

