@charset "UTF-8";

  /* VERSÃO PARA TABLET */

@media screen and (min-width:778px) and (max-width:992px) {

.box-home-img{
  display: inline-block;
  transform: translateX(53vw);
 
}

.box-titulos-capa{
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-123%, -100%);
  margin-right: 10vw;

}

#hardskills {
  display: inline-block;
  width: 320px;
  margin-right: 20px;
}

#softskills{
  display: inline-block;
  width: 320px;

}

.all-skills{
  display: flex;
  align-self: center;
  margin: auto;
  width: 700px;
 }

.linha1-projeto{
  display: flex;
  align-self: center;
  margin: auto;
  width: 700px;
}

.linha2-projeto{
  display: flex;
  align-self: center;
  margin: auto;
  width: 700px;
}

.box-projeto{
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  padding-right: 10px;
}

.todos-projetos{
  width: 700px;
  margin: auto;
}


      
}

  /* VERSÃO PARA PC e TV */

  @media screen and (min-width: 992px){

    .box-conteudo{
      max-width: 900px;
    }

    .box-home-img{
      display: inline-block;
      transform: translateX(57vw);
     
    }
    
    .box-titulos-capa{
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-150%, -100%);
      margin-right: 10vw;
    
    }
    
    #hardskills {
      display: inline-block;
      width: 400px;
  
    }
    
    #softskills{
      display: inline-block;
      width: 400px;
    }
    
    .all-skills{
     display: flex;
     align-self: center;
     margin: auto;
     width: 900px;
    }

    .linha1-projeto{
      display: flex;
      align-self: center;
      margin: auto;
      width: 900px;
    }
    
    .linha2-projeto{
      display: flex;
      align-self: center;
      margin: auto;
      width: 900px;
    }
    
    .box-projeto{
      display: inline-block;
      width: 400px;
      margin-left: 20px;
      padding-right: 10px;
    }
    
    .todos-projetos{
      width: 900px;
      margin: auto;
    }

    
          
    }