@charset "UTF-8";

  /* VERSÃO PARA TABLET */

@media screen and (min-width:778px) and (max-width:992px) {

.box-home{
  display: flex;
  align-self: center;
  margin: auto;
  padding: 30px 70px;
}
.box-home-img{
  display: inline-block;
  margin: auto;
 
}

.box-titulos-capa{
  margin: auto;
  display: inline-block;
}

#hardskills {
  display: inline-block;
  width: 320px;
  margin-right: 20px;
}

#softskills{
  display: inline-block;
  width: 320px;

}

.all-skills{
  display: flex;
  align-self: center;
  margin: auto;
  width: 700px;
 }

.linha1-projeto{
  display: flex;
  align-self: center;
  margin: auto;
  width: 700px;
}

.linha2-projeto{
  display: flex;
  align-self: center;
  margin: auto;
  width: 700px;
}

.box-projeto{
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  padding-right: 10px;
}

.todos-projetos{
  width: 700px;
  margin: auto;
}


      
}

/* VERSÃO PARA PC e TV */

@media screen and (min-width: 992px){

.box-home{
  display: flex;
  align-self: center;
  margin: auto;
  padding: 30px 120px;
}
.box-home-img{
  display: inline-block;
  margin: auto;
  
}

.box-titulos-capa{
  margin: auto;
  display: inline-block;
}

#box-sobre{
  max-width: 900px;
}

#hardskills {
  display: inline-block;
  width: 400px;

}

#softskills{
  display: inline-block;
  width: 400px;
}

.all-skills{
  display: flex;
  align-self: center;
  margin: auto;
  width: 900px;
}

.linha1-projeto{
  display: flex;
  align-self: center;
  margin: auto;
  width: 900px;
}

.linha2-projeto{
  display: flex;
  align-self: center;
  margin: auto;
  width: 900px;
}

.box-projeto{
  display: inline-block;
  width: 400px;
  margin-left: 20px;
  padding-right: 10px;
}

.todos-projetos{
  width: 900px;
  margin: auto;
}


      
}