
.modo-escuro{
    background-color: var(--cor-fundo);
    color: white;
  }
  
  .modo-escuro .box-projeto, .modo-escuro #hardskills, .modo-escuro #softskills, .modo-escuro #container-cv{
    background-color: var(--cor-fundo-modo-escuro);
    color: white;
  }
  
  #apagada{
    color: rgb(92, 92, 91);
  }